#joystick {
  position: absolute;
  bottom: 20px;        /* distance from bottom */
  left: 20px;          /* distance from left */
  width: 300px;        /* bigger joystick */
  height: 300px;
  border-radius: 50%;
  background: rgba(200,200,200,0.3);
  touch-action: none;
}

#stick {
  width: 100px;        /* proportional to joystick */
  height: 100px;
  background: rgba(100,100,100,0.7);
  border-radius: 50%;
  position: absolute;
  left: 100px;         /* (joystick width - stick width)/2 */
  top: 100px;          /* (joystick height - stick height)/2 */
  pointer-events: none;
}



#ancientModal{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:350px;
    padding:25px;
    background:#fdf5e6; /* parchment color */
    border:4px solid #b8860b;
    box-shadow:0 0 20px #00000088;
    font-family:'Papyrus', 'cursive';
    font-size:16px;
    color:#5b3a00;
    text-align:center;
    z-index:10000;
}
    #ancientModalText{
        margin-top:15px;
        padding:6px 15px;
        background:#b8860b;
        border:none;
        color:white;
        cursor:pointer;
        font-size:14px;
    }
